@{
    ViewData["Title"] = "Шаблоны и схемы шаблонов";
}
<div class="text-left">
    <h1 class="display-4">Схемы шаблонов</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSchemaModal">Добавить схему &raquo;</button>
    <br />
    <br />
    <div class="form-group">
        <table id="tableMainListSchemas" class="table">
        </table>
    </div>
</div>
<div class="text-left">
    <h1 class="display-4">Шаблоны</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTemplateModal">Добавить шаблон &raquo;</button>
    <br />
    <br />
    <div class="form-group">
        <table id="tableMainListTemplates" class="table">
        </table>
        <form id="formUpdateFile" style="display: none;" enctype="multipart/form-data">
            <input id="templateToUploadFileToId" type="hidden" value="" />
            <input id="UploadedOdtFile" name="UploadedOdtFile" type="file" accept=".odt">
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/PartialViews/AddSchemaPartial.cshtml")
@await Html.PartialAsync("~/Views/Admin/PartialViews/AddTemplatePartial.cshtml")
@section scripts
{
    <script type="text/javascript">
        var instanceName = '@ViewBag.instanceName';

        function SelectOdt(templateId) {
            $("#templateToUploadFileToId").val(templateId);
            $("#UploadedOdtFile").click();
        }

        function UploadOdt(templateId) {
            var formId = "formUpdateFile";
            var updateUrl = "/Admin/" + instanceName + "/UpdateTemplateFile?templateId=" + templateId;
            var form = $("#" + formId);
            form.validate();
            if (form.valid()) {
                var formData = new FormData(document.getElementById(formId));
                $.ajax({
                    url: updateUrl,
                    method: "POST",
                    processData: false,
                    contentType: false,
                    data: formData
                }).done(function() {
                    form.find("input[type=hidden], input[type=file]").val("");
                    ShowMessage('Файл загружен');
                }).fail(function(msg) {
                    ShowErrorMessage('Ошибка: ' + msg.responseText);
                });
            }
        }

        $(document).ready(function () {
            $("#UploadedOdtFile").on("change", function (e) {
                var templateId = $("#templateToUploadFileToId").val();
                UploadOdt(templateId);
            });
        });
    </script>
    <script type="text/javascript" src="~/static/js/crud.js"></script>
}
