@{
    ViewData["Title"] = "Шаблоны";
}

<div class="text-left">
    <h1 class="display-4">Шаблоны</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Добавить шаблон &raquo;</button>
    <br />
    <br />
    <div id="dTable" class="form-group">
        <table id="tableMainList" class="table">
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/PartialViews/AddTemplatePartial.cshtml")
@section scripts
{
    <script type="text/javascript">
        var loadListUrl = "/Admin/LoadTemplates";
        var addUrl = "/Admin/AddTemplate";
        var deleteUrl = "/Admin/DeleteTemplate";
    </script>
    <script type="text/javascript" src="~/js/crud.js"></script>
}